.headlist{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
body {
    background-color: rgb(142 142 167);
}
/* section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    } */

.prod2{
    position: relative;
    left: 20%;
    width: 30%;
}
.prod3{
    position: relative;
    left: 70%;
    width: 30%;
}