.headlist {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

body {
    background-color: rgb(142 142 167);
}

/* .produit {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    align-content: center;
} */

.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
}
.grid-container1 {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50% 50% ; /*Make the grid smaller than the container*/
    grid-gap: 10px;
    background-color: #FFFFFF;
    padding: 10px;
    margin: auto;
  }
  
  .grid-container1 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    /* justify-content: center; */
    padding: 20px 0;
    font-size: 30px;
  }
 