.search-bar{
    display:flex;
    justify-content: center;
}
.headlist{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.produit {
    display: flex;
    justify-content: baseline;
    align-items: center;
}