.search-bar{
    justify-content: center;
}
.headlist{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
body {
    background-color: rgb(142 142 167);
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }