.headlist{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
body {
    background-color: rgb(142 142 167);
}
.produit {
    display: flex;
    flex-direction: row;
    align-content: center;
    }

/* .prod2{
    
    width: 30%;
}
.prod3{
    
    width: 30%;
} */