.headlist {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

body {
    background-color: rgb(142 142 167);
}

/* .produit {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    align-content: center;
} */


/* .grid-container1 {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 50% 50%;
    Make the grid smaller than the container
    grid-gap: 10px;
    background-color: #FFFFFF;
    padding: 10px;


}

.grid-container1>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 30px;
} */
.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 75px;
    grid-gap: 10px;
  }
  
  .grid-container1>div {
    position: relative;
    text-align: center;
  }
  
  span, img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  